
@{
    ViewBag.Title =  "تفاصيل الخبر | " + kindergartenNetwork.Resources.PublicNews.ProjectName;
    Layout = "~/Views/Shared/_DefLayout.cshtml";
}

<!-- Start Page Title Area -->
<div class="page-title-area bg-14">
    <div class="container">
        <div class="page-title-content">
            <h2>الأخبار</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Home",null,Request.Url.Scheme)">
                        الرئيسية
                    </a>
                </li>

                <li class="active">تفاصيل الخبر</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start Blog Details Area -->
<div class="single-blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-blog-content">
                    <div class="blog-top-content">


                        <h3>يتم استخدام نص لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ</h3>

                        <ul class="post-details">
                            <li>
                                <i class='bx bx-user'></i>
                                بواسطة <a href="#">Admin</a>
                            </li>
                            <li>
                                <i class='bx bx-calendar'></i>
                                تم النشر في 13/07/2020
                            </li>
                        </ul>

                        <img src="/Content/defaultTheme/assets/img/single-event/single-event1.jpg" alt="Image">

                        <h3 class="mb-2">تفاصيل الخبر</h3>

                        <p>
                            يوجد العديد من المواقع تقدم نسخ و فقرات متعددة من نص لوريم ايبسوم و بشكل منظم و بنظام الفقرات
                            المرتبة و المنظمة و التى تناسب القارئ و التعبير الجيد عن تنسيق الكلمات و ترتيبها و إليك بعض
                            المواقع الإلكترونية التى تقدم ذلك لوضعه في تصميم موقع الويب بلغات متعددة
                        </p>

                        <p>
                            يوجد العديد من المواقع تقدم نسخ و فقرات متعددة من نص لوريم ايبسوم و بشكل منظم و بنظام الفقرات
                            المرتبة و المنظمة و التى تناسب القارئ و التعبير الجيد عن تنسيق الكلمات و ترتيبها و إليك بعض
                            المواقع الإلكترونية التى تقدم ذلك لوضعه في تصميم موقع الويب بلغات متعددة
                        </p>

                        <p>
                            يوجد العديد من المواقع تقدم نسخ و فقرات متعددة من نص لوريم ايبسوم و بشكل منظم و بنظام الفقرات
                            المرتبة و المنظمة و التى تناسب القارئ و التعبير الجيد عن تنسيق الكلمات و ترتيبها و إليك بعض
                            المواقع الإلكترونية التى تقدم ذلك لوضعه في تصميم موقع الويب بلغات متعددة
                        </p>

                        <p>
                            يوجد العديد من المواقع تقدم نسخ و فقرات متعددة من نص لوريم ايبسوم و بشكل منظم و بنظام الفقرات
                            المرتبة و المنظمة و التى تناسب القارئ و التعبير الجيد عن تنسيق الكلمات و ترتيبها و إليك بعض
                            المواقع الإلكترونية التى تقدم ذلك لوضعه في تصميم موقع الويب بلغات متعددة
                        </p>

                        <p>
                            يوجد العديد من المواقع تقدم نسخ و فقرات متعددة من نص لوريم ايبسوم و بشكل منظم و بنظام الفقرات
                            المرتبة و المنظمة و التى تناسب القارئ و التعبير الجيد عن تنسيق الكلمات و ترتيبها و إليك بعض
                            المواقع الإلكترونية التى تقدم ذلك لوضعه في تصميم موقع الويب بلغات متعددة
                        </p>
                    </div>

                    <ul class="social-wrap">
                        <li>
                            <span>يمكنك مشاركة الخبر:</span>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="bx bxl-youtube"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Blog Details Area -->
